<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo by JZ</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
<h1>JZ Movie DB</h1>
Go to:
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/actors">Actors</a></li>
    <li><a href="/ratings">Ratings</a></li>
</ul>
<div class="wrap">
    <div class="search">
        <form action="/search">
            <input class="searchTerm" type="text" placeholder="Search for names or titles..." name="query">
            <button class="searchButton" type="submit">Search</button>
        </form>
    </div>
</div>
</body>
</html>